body {
	margin: 0px auto;
	font-family: sans-serif;
}
.hd{
	align-items: center;
	height: 10vh;
	width: 1140px;
	justify-content: space-between;
	display: flex;
}

.bgc {
	background: url(Img_Background.png);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center; 
	min-height: 600px;
	position: relative;
	background-size: cover;
	justify-content: space-between;
	height: 100vh;
}
.logo{
	align-items: center;
	justify-content: space-between;
	display: flex;
	height: 10vh;
	width: 1140px;
	cursor: pointer;
}
.tl {
	color: #ffffff;
	font-family: Cubano;
	font-size: 25px;
	letter-spacing: 2.5px;
	float: right;
	padding-left: 9px;
}
.m ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.menu-link {
	text-decoration: none;WW
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	color: white;
	line-height: 1;
}
.menu-link:hover {
	border: white 1px solid;
}
.bg {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
button {
    background-color: #00e672;
    background-repeat:no-repeat;
    border: 3px solid #00e672;
    border-radius: 100px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-family: "Brandon Grotesque";
    font-size: 26px;
    margin-bottom: 10vh;
}
.bg1 {
	display: flex;
	justify-content: center;
	padding: 20px;
	color: white;
	font-family: 'Candara Light';
	font-size: 50px;
}
.bg2 {
	color: white;
	margin-top: 20px;
	font-family: 'Candara Light';
	font-size: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
}